<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <table class="table-striped">
      <th scope="col"><strong>Titre</strong></th>
      <th scope="col"><strong>Artiste</strong></th>
      <th scope="col"><strong>Action</strong></th>
      <tr *ngFor="let chanson of music">
        <td>{{chanson.title}}</td>
        <td>{{chanson.artist}}</td>
        <td>
          <fa-icon (click)="deleteMusic(chanson.musicId)" [icon]="faTrash"></fa-icon>
        </td>
      </tr>
    </table>
  </div>
</div>
