<div class="container mt-4">
  <div class="row">
    <div class="align-items-center">
      <h3>Bienvenue sur l'application de création de liste personnelle sur les tops musicaux du moment</h3>
      <li>Pour l'utiliser veuillez vous créer un compte en cliquant sur le lien "Sign in"</li>
      <li>Pour voir les différents artistes et chansons du moment, cliquez sur le lien "Top Songs"</li>
      <li>Vous pourrez manager votre liste en supprimant les chansons ajoutées depuis "Top Songs".
        Ou encore en modifiant votre mot de passe ou une image de profil qui ne sert à rien en cliquant sur le lien "Mon Profil"</li>
      <li>Vous pourrez supprimer mon compte aussi by the way, ce qui supprimera en cascade votre liste de musique</li>
    </div>
  </div>
</div>
