<div class="container mt-4">
  <div class="row d-flex justify-content-center">
    <h4 class="col-12 mx-4 my-5 text-center">{{email}}</h4>
    <img class="mx-4" alt="Image de profile" src="{{root}}{{UrlPicture}}" style="max-width: 100%; max-height: 350px">
    <div [formGroup]="form">
      <label class="col-12" for="image">Changer d'image de profile</label>
      <input class="col-12" (change)="changePicture($event.target.files)" type="file" id="image" formControlName="file"
             name="image">
    </div>
    <div [formGroup]="updateForm" class="mt-4">
      <label class="col-12" for="email">Pour changer vos informations, veuillez entrer soit un nouvel email ou
        l'actuel et le nouveau mot de passe ou l'actuelle</label>
      <input class="col-12 mb-2" id="email" name="email" type="text" placeholder="email@example.com" formControlName="email" [(ngModel)]="email">
      <input class="col-12 mb-2" type="password" id="password" name="password" placeholder="password"
             formControlName="password">
      <label for="password_retype" class="col-12"> Veuillez retapper le mot de passe</label>
      <input class="col-12" type="password" id="password_retype" name="password_retype"
             placeholder="retapper votre password" formControlName="password_retype">
      <button (click)="updateProfile()" class="mt-4 col-12 btn btn-primary">Changer les informations de compte</button>
    </div>
  </div>
</div>
